@import "../global", "../GlobalStyles/Button.scss";

.Wrapper {
  display: flex;
  flex-direction: row;
  height: 120px;
  color: #fff;
  background-color: $dark;
  margin: 0px;
  justify-content: space-between;
  //width: 99.9vw;
}

.Title {
}

.IconNameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.NavContainer {
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.NavLink:hover {
  font-weight: 700;
  text-decoration: underline;
}

.LogOut {
  @include Button;
  color: black;
  font-weight: 600;
  background-color: white;
  border: 2px solid white;
}

.Icon {
  height: 100px;
  width: 100px;
  margin: 0 30px;
}

.Profile {
  height: 55px;
  width: 55px;
}
.PageWrap {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}
.Links {
  color: azure;
  text-decoration: none;
  width: 100px;
  margin: 20px 0px 20px 40px;
  transition: color 0.2s;
  &:hover {
    font-weight: 500;
  }
}
.Menu {
  position: absolute;
  max-width: 500px;
  height: 100%;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  padding: 5px;
  z-index: 5;
}
.MenuIcon {
  margin-top: 50px;
  height: 70px;
  width: 70px;
  margin-left: 0px;
}

@media (max-width: 600px) {
  .Icon {
    min-height: 100px;
    min-width: 100px;
  }
  .Logo {
    display: none;
  }
}
