@import "../global.scss";

@mixin Button {
  font-family: $font;
  font-size: 18px;
  height: 45px;
  width: 100px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: $orangeAccent;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 2em;
  -webkit-appearance: none;

  &.Large {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      width: 300px;
    }
    @media (max-width: 1024px) {
      width: 300px;
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    margin-top: 2px;
  }
}
