@import "../global.scss";

@mixin Link {
  &:link,
  &:visited,
  &:active {
    color: white;
  }
  &:hover {
    color: $primary;
  }

  font-size: 1.8rem;
  margin-top: 25px;
  word-break: break-all;
}
