@mixin NewButton {
  font-family: $font;
  font-size: 18px;
  width: 100%;
  max-width: 700px;
  min-width: 250px;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}
