@import "../global.scss";

@mixin NewInput {
  font-family: $font;
  font-size: 18px;
  width: 100%;
  max-width: 700px;
  min-width: 250px;
  height: 45px;
  background-color: $box;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 0 8px;

  &:focus {
    outline: none;
    border: 2px solid $primary;
  }
}
