@import "../global.scss";

@mixin Select {
  background-color: $dark;
  width: 400px;
  height: 45px;
  color: white;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: $font;

  &.Small {
    width: 250px;
    @media (max-width: 500px) {
      width: 300px;
    }
    @media (max-width: 1024px) {
      width: 300px;
    }
  }

  &:focus {
    outline: none;
    border: 2px solid $orangeAccent;
    //background-color: #545463;
  }

  @media (max-width: 500px) {
    width: 300px;
  }
  @media (max-width: 1024px) {
    width: 300px;
  }
}
