@import "../global.scss";
@mixin Tag {
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 15px 25px 0px 0;

  &.TopicTag {
    background-color: $tagBlue;
    border: 2px solid $tagBlue;

    &:hover {
      background-color: #fff;
      color: $tagBlue;
    }
  }

  &.SkillTag {
    background-color: $tagPurple;
    border: 2px solid $tagPurple;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }
}
