@import "../global.scss";
@mixin Tag {
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 15px 25px 0px 0;

  &.TopicTag {
    background-color: $tagBlue;
    border: 2px solid $tagBlue;

    &:hover {
      background-color: #fff;
      color: $tagBlue;
    }
  }

  &.SkillTag {
    background-color: $tagPurple;
    border: 2px solid $tagPurple;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }

  &.Mastered {
    background-color: #5db6ea;
    border: 2px solid #5db6ea;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }

  &.Learning {
    background-color: #ff479a;
    border: 2px solid #ff479a;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }

  &.Test {
    background-color: #ee0290;
    border: 2px solid transparent;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }
  &.Test2 {
    background-color: #d602ee;
    border: 2px solid transparent;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }

  &.Test3 {
    background-color: #90ee02;
    border: 2px solid transparent;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }

  &.Test4 {
    background-color: #ff9e22;
    border: 2px solid transparent;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }

  &.Want {
    background-color: #03cea4;
    border: 2px solid #03cea4;

    &:hover {
      background-color: #fff;
      color: $tagPurple;
    }
  }
}
