@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss";

.Input {
  @include Input;
}

.Button {
  @include Button;
  margin-bottom: 25px;
}

.Global {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.Title {
  font-size: 4rem;
  color: $primary;
  margin: 25px 0;
  text-align: center;
}

.Card {
  background-color: #2c2c34;
  color: white;
  width: 70%;
  width: 100%;

  height: auto;

  margin-bottom: 50px;
  max-width: 1024px;
}
.TabsUnselected {
  width: auto;
  height: 75px;
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.TabSelected {
  background-color: $pCardSp;
  color: $pCardSpT;
}
.TabsList {
  background-color: $cardBgSp;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0;
  list-style-type: none;
  border-bottom: 2px solid $pCardSp;
}
.TContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 10px;
}
.Tag {
  @include Tag;
  &:hover {
    background-color: #e64949;
    // No funciona** o agregar un tachecito?
  }
}
