@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss";

.Input {
  @include Input;
}

.Button {
  @include Button;
  margin-bottom: 25px;
}

.Global {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.Title {
  font-size: 4rem;
  color: $primary;
  margin: 25px 0;
  text-align: center;
}
.Subtitle {
  font-size: 18px;
  color: $secundaryH;
  letter-spacing: 5px;
  margin: 15px 0px 15px 0px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.Text{
  font-size: 1.8rem;
  color: $secundaryJ;
  text-align: center;
}
.TutorialMood {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.About {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid $secundaryH;
  border-radius: 15px;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 30px 0px;
}
.MainPoints {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  //border: 2px solid red;
  //border-radius: 15px;
  //padding: 0px 0px 15px 0px;
  //margin: 0px 0px 30px 0px;
}
.Point {
  width: 30%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  //align-items: center;
  border: 2px solid $secundaryH;
  border-radius: 15px;
  padding: 1px 1px 1px 1px;
  margin: 0px 0px 30px 0px;
}
.Arrow {
  position: absolute;
  width: 70px;
  height: auto;
  color: $secundaryH;
  transform: rotate(180deg);
  top: 820px;
  right: 150px;
}

.Card {
  background-color: #2c2c34;
  color: white;
  width: 70%;
  width: 100%;

  height: auto;

  margin-bottom: 50px;
  max-width: 1024px;
}
.TabsUnselected {
  width: auto;
  height: 75px;
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.TabSelected {
  background-color: $pCardSp;
  color: $pCardSpT;
}
.TabsList {
  background-color: $cardBgSp;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0;
  list-style-type: none;
  border-bottom: 2px solid $pCardSp;
}
