@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Link.scss", "../GlobalStyles/Button.scss";

.Wrapper {
  display: flex;
  font-family: $font;
  max-width: 1024px;
  height: auto;
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: $cardBgSp;
  padding: 25px;
  flex-wrap: wrap;
}

.TagsContainer {
  width: 45%;
}
.Tag {
  @include Tag;
}
.TagsTitle,
.LinksTitle {
  font-size: 25px;
  color: $pCardSp;
  margin-bottom: 25px;
}

.LinksContainer {
  width: 40%;
}

.Link {
  @include Link;
  // font-size: 1.8rem;
  // list-style: none;
  // color: white;

  // &:hover {
  //   color: $primary;
  // }
}

.ButtonContainer {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Button {
  @include Button;
  margin-bottom: 25px;
  background-color: $sCardSp;
  color: $sCardSpT;
}

@media (max-width: 767px) {
  .Wrapper {
    height: auto;
  }

  .TagsContainer {
    width: 100%;
  }

  .LinksContainer {
    width: 100%;
  }

  .LinksTitle {
    color: $pCardSp;
    margin-top: 25px;
  }

  .LinksSpace {
    font-size: 14px;
  }

  .LList {
    list-style: none;
    li {
      list-style: none;
    }
  }

  .ButtonContainer {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .Button {
    margin-top: 25px;
  }
}
