@import "../global";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrapper {
  background-color: $darkGrey;
  padding: 50px;
  font-family: "Poppins", sans-serif;

  @media only screen and (max-width: 576px) {
    padding: 0;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark;
  color: white;
}
.descriptionWrapper,
.titleWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  height: 60px;
  width: 700px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
  margin-bottom: 50px;

  &:focus {
    outline: none;
    border: 2px solid;
    border-color: $orangeAccent;
  }

  &.md {
    width: 550px;
  }

  &.sm {
    width: 450px;
  }
}

.button {
  width: 100px;
  height: 60px;

  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 25px;

  &:focus {
    outline: none;
    border: 2px solid $orangeAccent;
  }

  &.xlg {
    width: 400px;
    height: 75px;
    margin: 0 0 50px 0;
    border: 3px solid $orangeAccent;
    background-color: transparent;
    color: $orangeAccent;
    font-size: 30px;

    &:hover {
      background-color: $orangeAccent;
      color: white;
      border: none;
    }
  }
}
.tagsWrapper,
.highlightsWrapper {
  display: flex;
  width: 700px;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 576px) {
    width: 300px;
  }
}

textarea {
  height: 400px;
  width: 700px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
  margin-bottom: 50px;

  @media only screen and (max-width: 576px) {
    width: 300px;
  }

  &:focus {
    outline: none;
    border: 2px solid;
    border-color: $orangeAccent;
  }
}

.select {
  height: 60px;
  width: 700px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 25px;

  &.md {
    width: 110px;
  }

  &:focus {
    outline: none;
    border: 2px solid $orangeAccent;
  }
}

option {
  color: white;
  background-color: $dark;

  &:focus {
    outline: none;
  }
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 700px;
  margin-bottom: 50px;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 25px;
  margin-bottom: 7px;
}
@media only screen and (max-width: 576px) {
  .input {
    width: 300px;

    &.md {
      width: 300px;
      margin-bottom: 10px;
    }

    &.sm {
      width: 300px;
    }
  }
  .button {
    width: 100px;
    font-size: 20px;
    &.xlg {
      width: 300px;
      height: 70px;
    }
    &.highlight {
      margin-left: 0;
      width: 300px;
    }
  }

  .statusWrapper {
    width: auto;
  }

  .select {
    width: 300px;

    &.md {
      width: 150px;
    }
  }
  .tagsWrapper,
  .highlightsWrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
}
