@import "../_global.scss", "../GlobalStyles/Wrapper.scss",
  "../GlobalStyles/Input.scss", "../GlobalStyles/Select.scss";

.Wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
}

.Input {
  @include Input;
}

.InputLabelContainer {
  @include InputLabelContainer;
}

.Label {
  @include Label;
}

.Title {
  justify-content: center;
  margin: 0 auto;
}

.TSContainer {
  display: flex;
  justify-content: space-between;
  //Responsive --> Flex direction column
}

.Select {
  @include Select;
}
