@import "../global";

.wrapper {
  background-color: $darkGrey;
  padding: 50px;
}
header {
  background-color: $dark;
  height: 100px;
  margin: 0 auto 50px auto;
  width: 1600px;
}
.contentWrapper {
  background-color: $dark;
  margin: 0 auto;
  padding: 50px;
  width: 1500px;
  h1 {
    text-align: center;
    color: white;
    margin-top: -25px;
    margin-bottom: 100px;
    font-size: 30px;
  }
}
.titleAndStausWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  input {
    height: 40px;
    width: 500px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 25px;

    &:focus {
      outline: none;
      border: 2px solid;
      border-color: $orangeAccent;
    }
  }
}

.statusWrapper {
  display: flex;
  align-items: center;

  select {
    height: 40px;
    width: 150px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 25px;

    &:focus {
      outline: none;
      border: 2px solid;
    }
  }

  option {
    color: $orangeAccent;
    background-color: $dark;
    border: 1px solid red;

    &:hover {
      box-shadow: 0 0 10px 100px #000 inset;
    }
  }
  label {
    color: white;
    margin-right: 20px;
    font-size: 25px;
  }
}

.descriptionHighlightsAndTagsWrapper {
  display: flex;
  justify-content: space-between;
}

.descriptionWrapper {
  textarea {
    height: 600px;
    width: 500px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 25px;

    &:focus {
      outline: none;
      border: 2px solid;
      border-color: $orangeAccent;
    }
  }
}

.highlightsAndTagsWrapper {
  display: flex;
  flex-direction: column;

  input {
    height: 40px;
    width: 500px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 25px;
    //margin-bottom: 50px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 2px solid;
      border-color: $orangeAccent;
    }
  }
  button {
    width: 100px;
    height: 40px;
    margin-left: 25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 25px;
  }
}
.tagsWrapper,
.highlightsWrapper {
  // align-items: center;

  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  div {
    border: 1px solid white;
  }
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
  button {
    width: 200px;
    height: 40px;
    margin-left: 25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    margin-top: -40px;
  }
}
