@import "../global", "../GlobalStyles/Input.scss", "../GlobalStyles/Button.scss";

.Wrapper {
  padding: 50px;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: $font;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 18px;
}

.InfoContainer {
  width: 100%;
}
.Title {
  color: $primary;
  font-size: 75px;
  text-align: center;
  margin: 25px 0;
  font-weight: bold;
  text-shadow: 3px 3px $primaryText;
}

.Title2 {
  color: $primary;//#ff5e5b
  font-size: 45px;
  text-align: center;
  margin: 25px 0;
  font-weight: bold;
  text-shadow: 3px 3px $primaryText;
}

.Description {
  font-size: 2.5rem;
  text-align: center;
  padding: 15px;
}
.InfoButton {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.Button {
  @include Button;
  background-color: $primary; 
  height: 60px;
  width: 150px;
  font-size: 25px;
  color: $primaryText;
  font-weight: bold;
}
.Button:hover {
  background-color: transparent;
  color: $primary; //#ff5e5b
  font-weight: bold;
  border: 2px solid $primary; //#ff5e5b
}
.InfoImage {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: solid pink;
}
.Image {
  width: 100%;
  margin: 50px;
}

.DescriptionContainer {
  width: 100%;
  //border: solid white;
}
.TitleDescription {
  font-size: 51px;
  text-align: center;
  margin: 30px;
  font-weight: bold;
  color: $primary; //#ff5e5b
  text-shadow: 2px 2px $primaryText;
}
.SprojectContainer,
.OprojectContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  margin: 25px;
}
.Subtitle {
  font-size: 38px;
  font-weight: bold;
  //margin-top: 25px;
  margin-bottom: 25px;
  color: $secundary; //#4bc0d9
  text-shadow: 2px 2px $secundaryText;
}
.Left {
  width: 55%;
}
.SmallSubtitle {
  font-size: 25px;
  //color: rgb(31, 30, 30); //;
  font-weight: bold;
}


.Information {
  font-size: 2.5rem;
  b {
    color: $secundary;//#00cc66
    font-weight: bold;
    font-size: 2.5rem;
  }
}

.Right {
  width: 35%;
}
.Image1 {
  width: 320px; //1694
  //height: 250px; //2500
  //border-radius: 10px;
  //object-fit: cover;
}
.Right1 {
  width: 35%;
}
.Left1 {
  width: 55%;
}
.Image2 {
  width: 400px;
}

.FeaturesContainer {
  //border: solid blue;
  width: 100%;
}
.FeaturesTitle {
  font-size: 51px;
  text-align: center;
  margin: 30px;
  font-weight: bold;
  color: $primary; //#ff5e5b
  text-shadow: 2px 2px $primaryText;
}
.Subtitle1 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  color: $secundary;//#4bc0d9
  text-shadow: 2px 2px $secundaryText;
}
.FeaturesContainerOne,
.FeaturesContainerTwo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Box1,
.Box2,
.Box3,
.Box4 {
  width: 23%;
  height: 240px;
  border: 2px solid $primary; //#ebebeb #fff8f0
  border-radius: 5px;
  padding: 10px;
}
.Icon {
  width: 30px;
  height: 30px;
  color: $secundary;
}
.BoxTitle {
  font-size: 25px;
  font-weight: bold;
  color: $primary;//#00cc66
  margin-top: 5px;
}
.BoxDescription {
  font-size: 18px;
  margin-top: 10px;
}

@media (max-width: 1010px) {
  .Left {
    width: 45%;//55
  }
  .Right {
    width: 45%;//35
  }
  .Left1 {
    width: 50%;
  }
  .Right1 {
    width: 45%;
  }
  .Image1 {
    width: 320px; //320
  }
  .Image2 {
    width: 400px; //400
    padding-right: 20px;
  }
  .Subtitle1 {
    text-align: center;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    width: 60%;
    margin: 10px;
    text-align: center;
  }
  .BoxTitle {
    margin: 10px;
  }
}

@media(max-width: 980px) {
  .Image1 {
    width: 240px;
  }
  .Image2 {
    width: 300px;
    //padding-right: 20px;
  }
  .FeaturesContainerOne,
  .FeaturesContainerTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Subtitle1 {
    text-align: center;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    width: 50%;
    height: auto;
    margin: 10px;
    text-align: center;
  }
  .BoxTitle {
    margin: 10px;
  }
  .BoxDescription {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .Image1 {
    width: 240px;
  }
  .Image2 {
    width: 300px;
    padding-right: 20px;
  }
  .FeaturesContainerOne,
  .FeaturesContainerTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Subtitle1 {
    text-align: center;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    width: 60%;
    height: auto;
    margin: 10px;
    text-align: center;
  }
  .BoxTitle {
    margin: 10px;
  }
}

@media(max-width: 704px) {
  .Wrapper {
    padding: 25px;
  }

  .Title2 {
    font-size: 30px;
  }
  .Subtitle {
    margin-bottom: 15px;
  }
  .SprojectContainer,
  .OprojectContainer {
    flex-direction: column;
    height: auto;
  }
  .Left {
    width: 100%;
    margin: 10px;
  }
  .Right {
    width: 100%;
  }
  .Information {
    font-size: 16px;
    b {
      color: $secundary;
      font-size: 16px;
    }
  }
  .Image1 {
    width: 240px;
  }
  .Left1 {
    width: 100%;
    order: 1;
    margin: 30px;
    text-align: left;
  }
  .Right1 {
    width: 100%;
    order: 2;
  }
  .Image2 {
    width: 260px;
    //margin-right: 20px;
  }
  .FeaturesContainerOne,
  .FeaturesContainerTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Subtitle1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    width: 90%;
    margin: 10px;
    text-align: center;
  }
  .BoxTitle {
    margin: 0;
  }
}
//425
@media (max-width: 425px) {
  .Title {
    font-size: 51px;
  }
  .Button {
    font-size: 18px;
    height: 45px;
    width: 100px;
  }
  .Image {
    width: 320px; //244
  }
  .TitleDescription {
    font-size: 38px;
  }
  .Subtitle {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .SmallSubtitle {
    font-size: 20px;
  }
  .SprojectContainer,
  .OprojectContainer {
    flex-direction: column;
    height: auto;
  }
  .Left {
    width: 100%;
    margin: 30px;
  }
  .Right {
    width: 100%;
  }
  .Bold {
    font-size: 16px;
  }

  .Image1 {
    width: 240px;
  }
  .Left1 {
    width: 100%;
    order: 1;
    margin: 30px;
    text-align: left;
  }
  .Right1 {
    width: 100%;
    order: 2;
  }

  .FeaturesContainerOne,
  .FeaturesContainerTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FeaturesTitle {
    font-size: 38px;
  }
  .Subtitle1 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4 {
    width: 90%;
    margin: 10px;
    text-align: center;
  }
  .BoxTitle {
    font-size: 20px;
    margin: 0;
  }
  .BoxDescription {
    font-size: 16px;
  }
}
