@import "../global", "../GlobalStyles/Input.scss", "../GlobalStyles/Button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Wrapper {
  padding: 75px;
  width: 100%;
  border: 1px solid yellow;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: $font;
}

.InfoContainer {
  width: 45%;
  border: 1px solid black;
}

.InputsTitle,
.InfoTitle {
  font-size: 30px;
}

.Bullet {
  font-size: 20px;
  margin: 20px 0;
}

.InputsContainer {
  width: 45%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputLabelContainer {
  @include InputLabelContainer;
}

.Label {
  @include Label;
}

.Input {
  @include Input;
}

.Button {
  @include Button;
}

.NewUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewUserMessage {
  font-size: 20px;
  margin: 40px 0 20px 0;
}

.NewUserLink {
  font-size: 20px;
  margin: 20px 0;
}
