@import "../global", "../GlobalStyles/Input.scss", "../GlobalStyles/Button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Wrapper {
  padding: 50px;
  //width: 100%;

  display: flex;
  justify-content: space-between;
  color: white;
  font-family: $font;
  flex-wrap: wrap;
}

.InfoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InfoTitle{
  font-size: 56px;
}

.InputsTitle {
  font-size: 35px;
}

.Bullet {
  font-size: 20px;
  margin: 20px 0;
}

.InputsContainer {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputLabelContainer {
  @include InputLabelContainer;
}

.Label {
  @include Label;
}

.Input {
  @include Input;
}

.Button {
  @include Button;
}

.NewUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NewUserMessage {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.NewUserLink {
  font-size: 25px;
  margin: 20px 0;
  color: $orangeAccent;
  &:hover {
    font-weight: 700;
    text-decoration: underline;
  }
}

@media (max-width: 767px) {
  .Wrapper {
    padding: 15px;
  }
  .InfoContainer {
    width: 100%;
  }

  .InputsContainer {
    width: 100%;
  }

  .InputsTitle {
    margin: 20px 0 0 0;
  }

  .InfoTitle {
    text-align: center;
    font-size: 35px;
  }

  .Bullet {
    text-align: center;
  }
}
