@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss", "../GlobalStyles/NewButton.scss",
  "../GlobalStyles/NewInput.scss", "../GlobalStyles/Link.scss";

.Global {
  display: flex;
  font-family: $font;
  max-width: 1024px;
  width: 90%;
  height: auto;
  margin: 40px auto;
  padding: 25px;
  flex-wrap: wrap;
  background-color: $box;
  border-radius: 10px;
}

.Tag {
  @include Tag;
  margin-bottom: 25px;
  margin-top: 25px;
}

.Input {
  @include Input;
}

.Label {
  @include Label;
  font-size: 18px;
  color: $primary;
}

.Author {
  color: $otherGrey;
  margin-bottom: 10px;
  font-size: 1.8rem;
  text-align: center;
}

.Author a {
  &:hover {
    text-decoration: underline;
    font-weight: 700;
  }
  &:link,
  &:visited,
  &:active {
    color: $otherGrey;
  }
}

.InputLabelContainer {
  @include InputLabelContainer;
  width: 100%;
}
.userInputs {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // padding: 25px;
  //margin-top: 15px;
}

.TitleContainer {
  border: 1px solid transparent;
  border-radius: 15px;
  width: 100%;
  margin: 15px auto;
}

.Title {
  color: $secundary;
  font-size: 38px;
  width: 100%;
  text-align: center;
}

.DescContainer {
  margin-bottom: 25px;
}

.Paragraph {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

.TitleSubtitle {
  color: $primary;
  font-size: 25px;
  font-weight: 501;
  margin: 0;
}

.Text {
  color: white;
  font-size: 1.8rem;
}

.List {
  margin-left: 30px;
}

.ListContainer {
  padding: 10px;
  margin-left: 20px;
}

.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //background-color: #2c2c34;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 1024px;
}

.Highlights {
  align-items: left;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 50px;
}

.Hlist {
  list-style-type: disc;
}

.SentMsg {
  color: $mediumSpringGreen;
  font-size: 1.8rem;
}

.ColumnDivision {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RequestData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Data {
  @include Input;
  // border: none;
  // height: 20px;
  // border-bottom: 1px solid #e66d29;
  // background-color: #2c2c34;
}

.ReasonForRequest {
  @include NewInput;
  min-width: 200px;
  height: 200px;
  width: 100%;
  max-width: 1024px;
  background-color: $newBackground;
  //max-width: 800px;
  // align-self: center;
  // background-color: #2c2c34;
  // width: 100%;
  // height: 60px;
  // margin: 10px;
  // border: 1px solid #e66d29;
}

.Button {
  @include NewButton;
  //background-color: #80c74c;
  background-color: $primary;
  color: $secundaryText;
  font-size: 1.8rem;
  margin-right: 10px;
  &.Reject {
    border: 2px solid $primary;
    color: $primary;
    background-color: transparent;
    //border: 2px solid $primary;
    //background-color: #f74f39;
    //color:#7b170a;
  }
}

.TagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #21d7ff;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;
}

.ErrorMsg {
  font-size: 18px;
  color: #f74f39;
}

.SkillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #ff0080;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.Column0 {
  border-radius: 15px;

  width: 100%;
  margin-bottom: 50px;
}

.Column1 {
  border-radius: 15px;

  width: 100%;
}

.ApplicationMsg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Applications {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.Application {
  border: 3px solid $primary;
  border-radius: 15px;
  width: 100%;
  margin: 25px 0;
  padding: 25px;
  .Text {
    margin: 10px 0px;
  }
}

.ButtonWrapper {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding: 5px;
}

.ImagesSection {
  // border: 2px white solid;
  width: 100%;
  //padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.ImagesSection h1 {
  color: gainsboro;
}

.Image {
  width: 100%;
  max-width: 768px;
}

@media (max-width: 1380px) {
  .Wrapper {
    align-items: center;
  }

  .ReasonForRequest {
    width: 100%;
  }

  .RequestData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 720px) {
  .Title {
    font-size: 25px;
  }

  .TitleSubtitle {
    font-size: 20px;
  }

  .Paragraph {
    font-size: 15px;
  }
  .Text {
    font-size: 15px;
  }

  .ReasonForRequest {
    width: 100%;
  }
  .RequestData {
    // width: auto;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .Global {
    font-size: 13px;
  }
  .Tags {
    flex-direction: column;
  }
  .ColumnDivision {
    //width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  @media (max-width: 768px) {
    .Title {
      font-size: 25px;
    }

    .TitleSubtitle {
      font-size: 20px;
    }

    .Paragraph {
      font-size: 15px;
    }
    .Text {
      font-size: 15px;
    }

    .ReasonForRequest {
      width: 100%;
    }
    .RequestData {
      // width: auto;
      display: flex;
      flex-direction: column;
      width: auto;
    }
    .Button {
    }

    .TagsContainer,
    .SkillsContainer {
      justify-content: space-around;
    }
    .Global {
      font-size: 13px;
    }

    .Tags {
      flex-direction: column;
    }
    .ColumnDivision {
      flex-direction: column;
      align-items: center;
    }
    .Column0 {
      width: 100%;
    }

    .Column1 {
      width: 100%;
    }
  }
}
