@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss";

li {
  margin: 10px 0px;
}
.Title {
  font-size: 4rem;
  color: $primary;
  margin: 25px 0;
  text-align: center;
}
.Global {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: #1d1d1d;
}
.TitleCard {
  font-size: 25px;
  color: #e66d29;
  margin-bottom: 25px;
}
.TContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  margin-bottom: 10px;
}
.TagsSubtitle {
  font-size: 25px;
}
.Wrapper {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.Card {
  width: 100%;
  // border: 1px solid white;
  color: white;
  max-width: 1024px;
  //padding: 5px;
  //padding-top: 0px;

  margin-bottom: 50px;
}
.TabsUnselected {
  width: auto;
  height: auto;
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.TabSelected {
  background-color: #e66d29;
  &:focus {
    outline: none;
  }
}

.TabsList {
  height: 75px;
  display: flex;
  flex-direction: row;
  //height: 20px;
  //margin-left: -35px;
  padding: 0px;
  margin: 0;
  list-style-type: none;
  border-bottom: 2px solid $pCardSp;
  background-color: $cardBgSp;
}

.Row0 {
  padding: 15px 15px 0px 15px;
  width: auto;
}

.Color {
  background-color: #2c2c34;
}
.ButtonDiv {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Info {
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 45px;
  font-weight: 501;
  font-size: 20px;
  margin-top: 25px;
}

.Button {
  @include Button;
  font-size: 20px;
  padding: 6px 8px;
  width: 250px;
  height: auto;
  align-self: center;
  margin: 25px 0;
  background-color: $primary;
  color: $primaryText;
}

.TagsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #21d7ff;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0 10px 0;
}

.SkillsWrapper {
  margin: 25px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ff0080;
  flex-wrap: wrap;
}

.Tag {
  @include Tag;
  margin-top: 0;
  width: auto;
  height: 50px;
  margin-bottom: 15px;
  //
}

.Open {
  color: rgb(73, 211, 130);
}

.Closed {
  color: rgb(196, 9, 9);
}

.Hlist {
  font-weight: 500;
  font-size: 20px;
  list-style: circle;
  padding-left: 2em;
}

@media (max-width: 1380px) {
  .ButtonDiv {
    padding: 5px 15px 15px 15px;
  }

  .Card {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .Info {
    flex-direction: column;
    height: auto;
    font-size: 16px;
    font-weight: 500;

    p {
      margin: 8px;
    }
  }

  .Global {
    padding: 15px;
  }
  .Card {
    width: 100%;
  }
  .Hlist {
    font-size: 16px;
  }

  .TabsUnselected {
    font-size: 16px;
    &:focus {
      outline: none;
    }
  }

  .Button {
    font-size: 20px;
    padding: 6px 8px;
    width: 250px;
    height: auto;
    align-self: center;
    margin: 25px 0;
    background-color: $primary;
    color: $primaryText;
  }
  .ButtonDiv {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0 0 15px 0;
    font-size: 10px;
  }

  // .Tag {
  //   height: 15px;
  //   font-size: 13px;
  // }
}
