@import "../global", "../GlobalStyles/Button.scss";

.Wrapper {
  display: flex;
  flex-direction: row;
  height: 120px;
  color: #fff;
  background-color: $dark;
  margin: 0px;
  justify-content: space-between;
  //width: 99.9vw;
}
.Logo {
  font-size: 25px;
}

.IconNameContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  font-size: 22px;
}

.NavContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.ConditionalContainerNav {
  width: 50%;
}

.NavLink {
  color: azure;
  text-decoration: none;
  &:hover {
    font-weight: 700;
    text-decoration: underline;
  }
}

.LogOut {
  @include Button;
  color: black;
  font-weight: 600;
  background-color: white;
  border: 2px solid white;
}

.Icon {
  height: 100px;
  width: 100px;
  margin: 0 30px;
}

.Profile {
  height: 55px;
  width: 55px;
}
.PageWrap {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}
.Links {
  color: azure;
  text-decoration: none;
  width: 100vw;
  margin-bottom: 25px;

  font-size: 25px;
  text-align: center;
  &:hover {
    font-weight: 500;
  }

  &.Title {
    color: $orangeAccent;
    font-size: 38px;
    font-weight: 500;
  }
}
.Menu {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: $dark;
  display: flex;
  flex-direction: column;

  //padding: 5px;
  z-index: 5;
}

.MenuIcon {
  //margin-top: 25px;
  height: 70px;
  width: 70px;
  //margin-left: 20px;
  //margin-bottom: 25px;
  margin: 25px 35px 25px 20px;
}

.ClosingIcon {
  margin: 25px 0 0 25px;
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  .Icon {
    min-height: 100px;
    min-width: 100px;
  }
  .Logo {
    display: none;
  }
}
