@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss", "../GlobalStyles/StatusMsg.scss",
  "../GlobalStyles/NewInput.scss", "../GlobalStyles/NewButton.scss";

.Wrapper {
  display: flex;
  font-family: $font;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  flex-wrap: wrap;
}
.WrapperTitle {
  height: auto;
  width: 100%;
}
.Title {
  text-align: center;
  font-family: $font;
  margin: 25px;
  font-size: 38px;
  font-weight: bold;
  color: $pCardSp;
}

.Input {
  @include NewInput;
}

.Label {
  @include Label;
  color: $sCardSp;
  width: 100%;
  &.Transparent {
    color: transparent;
  }
}

.Button {
  @include Button;
  color: $sCardSp;
  margin-left: 15px;
  background-color: transparent;
  border: 2px solid $sCardSp;
}

.Box1,
.Box2,
.Box3,
.Box4,
.Box5 {
  height: auto;
  width: 50%;
  margin-bottom: 50px;
}

.Box1 {
  //border: 1px solid #f72585;
  display: flex;
  flex-direction: column;
}
.Input {
  width: 300px;
}

.Box2 {
  //border: 1px solid #7209b7;
  flex-direction: column;
  display: flex;
}
.TextArea {
  @include NewInput;
  max-width: 415px;
  height: 225px;
  display: flex;
  flex-direction: column;
}
.ChooseImg {
  font-size: 1.8rem;
  color: $primary;
  width: 250px;
  border: 2px solid $primary;
  padding: 9px;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 15px;
}
.UploadMsg {
  font-size: 1.8rem;
  color: #9ccc65;
}
.IconUpload {
  width: 35px;
  height: 30px;
  margin: -7px 0;
}

input[type="file"] {
  display: none;
}

.Box3 {
  //border: 1px solid #3a0ca3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //padding-right: 20px;
}
.TagButtonContainer {
  display: flex;
  flex-wrap: wrap;
}
.TagInput {
  @include NewInput;
  width: 300px;
}
.Tag {
  @include Tag;
  &:hover {
    background-color: #e64949;
    // No funciona** o agregar un tachecito?
  }
}
.TContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.Preview {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 25px 0px 0;
  background-color: $box;

  &:hover {
    background-color: #ef5350;
    border: none;
  }
}
img {
  width: 200px;
}

.Box4 {
  //border: 1px solid #4361ee;
  display: flex;
  flex-direction: column;
}

.Box5 {
  //border: 1px solid #4cc9f0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LinkButtonContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.InputLabelContainer {
  display: flex;
  flex-direction: column;
}

.CreateButtonBox {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.CreateButton {
  @include Button;
  margin-bottom: 20px;
  background-color: $pCardSp;
  color: $pCardSpT;
  width: 300px;
}
.ErrorMsg {
  font-size: 18px;
  color: #f74f39;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .Input,
  .TextArea,
  .TagInput,
  .InputLabelContainer {
    width: 80%;
  }

  .Button {
    margin-left: 0;
    margin-top: 15px;
  }

  .Label {
    &.Transparent {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .TextArea {
    max-width: 800px;
  }
  .Box1,
  .Box2,
  .Box3,
  .Box4,
  .TextArea,
  .Input,
  .TagInput,
  .InputLabelContainer {
    width: 100%;
  }

  .TagButtonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .Button {
    margin-left: 0;
    margin-top: 15px;
  }
  .Label {
    &.Transparent {
      display: none;
    }
  }
}
