@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.Wrapper {
  display: flex;
  font-family: $font;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  flex-wrap: wrap;
}

.Input {
  @include Input;
}

.Label {
  @include Label;

  &.Transparent {
    color: transparent;
  }
}

.Button {
  @include Button;
  margin-left: 15px;
}

.Box1,
.Box2,
.Box3,
.Box4,
.Box5 {
  height: 300px;
  width: 50%;
}

.Box1 {
  //border: 1px solid #f72585;
  display: flex;
  flex-direction: column;
}
.Input {
  width: 300px;
}

.Box2 {
  //border: 1px solid #7209b7;
  flex-direction: column;
  display: flex;
}
.TextArea {
  @include Input;
  height: 225px;
  display: flex;
  flex-direction: column;
}

.Box3 {
  //border: 1px solid #3a0ca3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 20px;
}
.TagButtonContainer {
  display: flex;
  flex-wrap: wrap;
}
.TagInput {
  @include Input;
  width: 300px;
}

.Box4 {
  //border: 1px solid #4361ee;
  display: flex;
  flex-direction: column;
}

.Box5 {
  //border: 1px solid #4cc9f0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LinkButtonContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.InputLabelContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .Input,
  .TextArea,
  .TagInput,
  .InputLabelContainer {
    width: 90%;
  }

  .Button {
    margin-left: 0;
  }

  .Label {
    &.Transparent {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .Box1,
  .Box2,
  .Box3,
  .Box4,
  .TextArea,
  .Input,
  .TagInput,
  .InputLabelContainer {
    width: 100%;
  }

  .TagButtonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .Button {
    margin-left: 0;
  }
  .Label {
    &.Transparent {
      display: none;
    }
  }
}
