@import "../_global.scss", "../GlobalStyles/Input.scss",
  "../GlobalStyles/NewInput.scss", "../GlobalStyles/NewInput.scss",
  "../GlobalStyles/Select.scss", "../GlobalStyles/Tag.scss",
  "../GlobalStyles/Button.scss", "../GlobalStyles/StatusMsg.scss";

.Global {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //padding: 25px;
}

.Input {
  @include NewInput;
}

.TagsInput {
  @include NewInput;
  width: 300px;
}

.Label {
  @include Label;
  color: $primary;
}

.InputLabelContainer {
  @include InputLabelContainer;
}

.Select {
  @include NewInput;
  background-color: $box;
}

.TextArea {
  @include NewInput;
  height: 200px;
}

.Button {
  @include Button;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid $primary;
  color: $primary;

  &.Create {
    width: 300px;
    height: 50px;
    background-color: $secundary;
    color: $secundaryText;
    border: 1px solid transparent;
    font-size: 20px;
  }
}

.Tag {
  @include Tag;
  &:hover {
    background-color: #e64949;
    // No funciona** o agregar un tachecito?
  }
}

.Open {
  color: green;
}
.Closed {
  color: red;
}

.ErrorMsg {
  font-size: 18px;
  color: #f74f39;
  margin-top: 10px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.Title {
  margin: 0 auto;
  font-family: $font;
  color: $secundary;
  margin-top: 25px;
  font-size: 38px;
  //margin-bottom: 10px;
}
.TitleStatusContainer {
  display: flex;
  flex-direction: column;
  //width: 100%;
}
.TContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
}

.HInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //justify-content: space-evenly;
}
.TInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Highlight {
  font-size: 20px;
  width: 400px;
  overflow-wrap: break-word;
  margin: 15px 0;
  height: auto;
  &:hover {
    background-color: #f74f39a6;
  }
}
.Wrapper {
  padding: 25px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

.Column1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Column2 {
  grid-area: 1 / 2 / 2 / 3;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.Column3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: 1380px) {
  // de 1380 para abajo (Tablets)
  .Global {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 100%;
  }

  .TagsInput {
    width: 300px;
  }
  .TagsInputWrapper {
    display: flex;
    flex-direction: column;
  }

  .TContainer {
    width: 300px;
    align-items: center;
    justify-self: center;
  }

  .Highlight {
    width: 300px;
  }

  .TitleStatusContainer {
    display: flex;
    flex-direction: column;
  }

  .Wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  .Column1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
  }
  .Column2 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    //flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .Column3 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  .TInputContainer {
    flex-direction: column;
  }
  .HInputContainer {
    justify-content: space-between;
    flex-direction: column;
  }
  .ErrorMsg {
    width: 300px;
  }
}

.Box1,
.Box2,
.Box3,
.Box4,
.Box5 {
  height: auto;
  width: 50%;
  margin-bottom: 50px;
}
.Box5 {
  //border: 1px solid #4cc9f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.ChooseImg {
  font-size: 1.8rem;
  color: $primary;
  width: 250px;
  border: 2px solid $primary;
  padding: 9px;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 15px;
}
.UploadMsg {
  font-size: 1.8rem;
  color: #9ccc65;
}
.IconUpload {
  width: 35px;
  height: 30px;
  margin: -7px 0;
}

input[type="file"] {
  display: none;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 600px) {
  .Global {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
    max-width: 100%;
  }

  .TContainer {
    width: 300px;
  }
  .TInputContainer {
    flex-direction: column;
  }
  .Highlight {
    width: 300px;
  }

  .Column1 {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Column2 {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .Column3 {
    grid-area: 3 / 1 / 4 / 2;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Select {
    margin-right: 0;
  }

  .Button {
    &.Special {
      // margin-top: -25px;
      // margin-bottom: 25px;
    }
    &.Special {
      // margin-top: -25px;
      // margin-bottom: 25px;
    }
  }
  .ErrorMsg {
    width: 300px;
  }
}
