@import "../global.scss";

@mixin Button {
  font-family: $font;
  font-size: 20px;
  height: 45px;
  width: 100px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: $orangeAccent;
  color: white;

  &.Large {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      width: 300px;
    }
    @media (max-width: 1024px) {
      width: 300px;
    }
  }

  &:focus {
    outline: none;
  }
}
