/*  Global styling  */
/* to use in your own scss, type: @import 'global'*/
/* then, to access this file's styles: $varName*/

/*COLORS*/
$orangeAccent: #e66d29;
$blueAccent: #0091b1;
$dark: #2c2c34;
$darkGrey: #3d3d47;
$clearGrey: #f0eded;
$otherGrey: #62626b;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*COLORS*/
$font: Poppins, Tahoma, Geneva, Verdana, sans-serif;
$orangeAccent: #e66d29;
$blueAccent: #0091b1;
$dark: #2c2c34;
$darkGrey: #3d3d47;
$clearGrey: #f0eded;

$buttonBlue: #1d4f60;
$notificationRed: #ed3434;

$tagPurple: #ce30e8;
$tagGreen: #6cc551;
$tagYellow: #e89330;
$tagRed: #e85130;

/*FONTS*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  background-color: $darkGrey;
}

/*BUTTON STYLES*/
/*Styles with % are placeholders, abstract styles that can be extended*/
/* In your particular scss file, use @extend %className to pull in the properties of the class*/
%gral-blue-button {
  border: none;
  background-color: $buttonBlue;
  border-radius: 5px;
  padding: 1em 2em;
  text-align: center;
}
