@import "./GlobalStyles/Input.scss", "./global.scss";

.Input {
  @include Input;
}

.Label {
  @include Label;
}

.InputLabelContainer {
  @include InputLabelContainer;
}

.Wrapper {
  padding: 25px;
  display: flex;
  justify-content: center;
  //align-items: center;
}
