@import "../global", "../GlobalStyles/Tag.scss", "../GlobalStyles/Button.scss",
  "../GlobalStyles/Link.scss";
.Wrapper {
  display: flex;
  padding: 15px;
  width: 100%;
  max-width: 1024px;
  display: flex;
  color: white;
  font-family: $font;
  flex-wrap: wrap;
  margin: 0 auto;
  //border: 1px solid lavender;
}

.EditBtnContainer {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.NameContainer {
  width: 100%;
  height: 100px;
  // border: 1px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.Name {
  font-size: 3.8rem;
  color: $primary;
}

.Username {
  font-size: 2.5rem;
  color: white;
}

.ImageOneContainer {
  width: 25%;
  height: auto;
  padding-right: 50px;
  // border: 1px solid palevioletred;
}

.ImageOne,
.ImageTwo {
  width: 100%;
}

.AboutMeContainer {
  width: 50%;
  height: auto;
  //padding: 0 50px;
  // border: 1px solid orangered;
}

.AboutMeTitle,
.CollegeTitle,
.LinksTitle,
.StackTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: $primary;
}

.AboutMeContent,
.CollegeContent,
.InfoText {
  font-size: 1.8rem;
  text-align: justify;
  text-justify: inter-word;
}
.EducationContainer {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  // align-items: flex-end;
  // border: 1px solid orange;
}

.MajorTitle {
  font-size: 2.5rem;
  margin: 25px 0 10px 0;
  color: $primary;
}
.LinksContainer {
  display: flex;
  flex-direction: column;
  //align-items: flex-end;
  margin-top: 25px;
  width: 33%;
  height: auto;
  padding: 0 50px 0 0;
  // border: 1px solid blue;
}

.LinksContent {
  margin-bottom: 25px;
  word-break: break-all;
  text-decoration: underline;
  // align-self: flex-end;
}

.Link {
  @include Link;
}

.ImageTwoContainer {
  margin-top: 50px;
  padding: 0 0 0 50px;
  width: 34%;
  height: auto;
  max-width: 230px;
  // border: 1px solid greenyellow;
}
.ProjectsContainer {
  margin-top: 50px;
  width: 33%;
  height: auto;
  padding: 0px;
  // border: 1px solid aqua;
}

.PortfolioContent,
.TeamContent {
  font-size: 2.2rem;
}

.PortfolioLink {
  display: inline-block;
  font-size: 2.5rem;
  color: $primary;
  margin: 5px 0 25px 0;
}
.TeamLink {
  display: inline-block;
  font-size: 2.5rem;
  color: $orangeAccent;
  margin: 5px 0 0 0;
}

.StackContainer {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: auto;
  // border: 1px solid cadetblue;
  align-items: center;
}

.MasterdContainer {
  width: 33%;
  height: auto;
  // border: 1px solid #03cea4;
}

.MasterdTitle,
.LearningTitle,
.WantTitle {
  font-size: 2.2rem;
  text-align: center;
  margin: 0 0 25px 0;
}
.LearningContainer {
  width: 34%;
  height: auto;
  // border: 1px solid #ff479a;
}
.WantContainer {
  width: 33%;
  height: auto;
  // border: 1px solid #5db6ea;
}
.WantTagsContanier,
.LearningTagsContanier,
.MasterdTagsContanier {
  padding: 0 25px;
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Tag {
  @include Tag;
  margin: 10px 15px;
}

.Button {
  @include Button;
  width: 100%;
  background-color: $primary;
  color: $primaryText;
  margin-top: 25px;
}

@media (max-width: 767px) {
  .Button {
    width: 50%;
    max-width: 150px;
  }
  .EditBtnContainer {
    padding: 25px 0 0 0;

    justify-content: flex-start;
  }

  .ImageOneContainer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .Name {
    text-align: center;
  }

  .ImageOne {
    max-width: 300px;
  }

  .AboutMeContainer {
    width: 100%;
    margin: 25px 0 0 0;
  }

  .EducationContainer {
    padding: 0;
    margin-top: 25px;
  }

  .EducationContainer {
    width: 100%;
  }

  .LinksContainer {
    width: 100%;
    margin-top: 25px;
  }

  .ProjectsContainer {
    width: 100%;
    margin-top: 25px;
  }

  .ImageTwoContainer {
    width: 100%;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .ImageTwo {
    max-width: 300px;
  }

  .StackContainer {
    margin-top: 25px;
  }
  .MasterdContainer,
  .LearningContainer,
  .WantContainer {
    width: 100%;
  }

  .LearningTitle,
  .WantTitle {
    margin: 25px 0;
  }
}
